body {
  background-color: #e5e5e5;
  padding: 10%;
  font-family: Arial, Helvetica, sans-serif;
}

.layer {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.block {
  height: 600px;
  width: 320px;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 80px 30px;
  box-shadow: 5px -5px 15px #1dfc00;
}

.block:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.headline {
  font-size: 13px;
  color: #b2b2b2;
  margin-top: 30px;
  text-indent: 20px;
}

.description {
  font-size: 23px;
  text-indent: 10px;
  margin: 10px;
}
